body{
  text-align: center;
  background-color: #D8D9CF;
  font-family: 'Roboto', sans-serif;
}
h1{
  font-style: italic;

}

.box{
  height: 37px;
  width: 35px;
  border-radius: 100%;
}
.task-box{
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;

}
.text-box{
  margin : 0 5px;
  width: 40%;
  height: 2rem;
}
.textbox{
  margin : 0 5px;
  width: 40%;
  height: 2rem;
  color: #fff;
  background-color:	#133337;
  padding: 2px 3px 2px;
  border-style: hidden;
}
.container{
  display: flex;
}

.task-box:hover{
  box-decoration-break: clone;
-webkit-box-decoration-break: clone;
box-shadow: 8px 8px 10px 0 , -5px -5px 5px 0 #989898, 5px 5px 15px 0 #989898;
}
.button{
  background-color: #00fff7;
 color: #fff;
 height: 36px;
 border-style: hidden;
 margin-left: 0;
 width: 3%;
}
.middle-container{
  margin-top: 3rem;
}
